.cajita{
    width: 100px;
    height: 100px;
}

@each $redSocial, $color in $redes {
    .cajita#{$redSocial}{
        background-color: $color;
    }
}

%circulito{
    border-radius: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circulito1, .circulito2, .circulito3{
    @extend %circulito;
    height: 100px;
   @include anchos(200px);

}

